@model WebApplication2.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnoDiPubblicazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnoDiPubblicazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistNavigation.NomeDArte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Titolo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
